.note-task {
  background-color: white;
  width: 80%;
  padding: 2em;
  border: 1px solid green;
  margin-bottom: 0.5em;
  border-radius: 15px;
}
.note-wrapper {
  padding-top: 1.5em;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em auto;
  width: 60vw;
}

.note-input {
  background-color: white;
  border-radius: 5px;
  width: 60%;
}

.note-share-button {
  border: 2px solid var(--ion-color-primary);
  border-radius: 5px;
  margin-left: 5px;
}

.empty-feed-text {
  background-color: red;
  text-align: center;
  margin: 0 auto;
}
