<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <form [formGroup]="noteForm" (ngSubmit)="addNote()" class="note-add">
      <ion-input
        class="note-input"
        type="text"
        placeholder="Add a note?"
        formControlName="task"
        type="text"
        color="primary"
      ></ion-input>
      <ion-button
        type="submit"
        expand="block"
        fill="clear"
        shape="round"
        class="note-share-button"
      >
        Submit
      </ion-button>
    </form>
  </ion-card>

  <div *ngIf="errorText">{{ errorText }}</div>
  <ion-card *ngIf="notes.length; else emptyList" class="note-wrapper">
    <div *ngFor="let note of notes" class="note-task">
      {{note.task}}
      <button (click)="delete(note.id)">X</button>
    </div>
  </ion-card>
  <ng-template #emptyList>
    <ion-content class="empty-feed-text">
      There aren't any notes yet!
    </ion-content>
  </ng-template>
</ion-content>
