<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jedi Masters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bgFile">
    <div *ngFor="let profile of profiles">
      <ion-item button class="ion-padding" (click)="openProfile(profile)">
        <img
          src="{{profile.image}}"
          width="100px"
          height="100px"
          slot="start"
          class="avatar-icon"
        />

        <ion-label>
          {{profile.name}}<br />
          <div *ngIf="profile.height">Height: {{profile.height}}</div>
          <div *ngIf="profile.mass">Mass: {{profile.mass}}</div>
        </ion-label>

        <ion-chip color="secondary" slot="end">
          <ion-label color="secondary"
            >{{capitalizeString(profile.species)}}</ion-label
          >
        </ion-chip>
        <ion-icon name="heart-outline" slot="end" color="secondary"></ion-icon>
      </ion-item>
    </div>
  </div>
</ion-content>
