<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()" class="todo-add">
      <ion-input
        class="todo-input"
        type="text"
        placeholder="What's on your mind?"
        formControlName="task"
        type="text"
        color="primary"
      ></ion-input>
      <ion-button
        type="submit"
        expand="block"
        fill="clear"
        shape="round"
        class="todo-share-button"
      >
        Share
      </ion-button>
    </form>
  </ion-card>

  <div *ngIf="errorText">{{ errorText }}</div>
  <ion-card *ngIf="todos.length; else emptyList" class="todo-wrapper">
    <div *ngFor="let todo of todos" class="todo-task">
      {{todo.task}}
      <button (click)="delete(todo.id)">X</button>
    </div>
  </ion-card>
  <ng-template #emptyList>
    <span> There isn't anything on the feed yet! </span>
  </ng-template>
</ion-content>
