.grid {
  width: 100%;
  min-height: 600px;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: minmax(100px, 200px) minmax(50px, 60px) minmax(100px, 1fr);
  justify-content: center;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: end;
}

.subtitle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
}

.content {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  padding: 0 1em;
  text-align: center;
}
