<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Notes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <app-noteform></app-noteform>
  </ion-card>
  <div *ngIf="errorText">{{ errorText }}</div>
  <div *ngIf="notes.length; else emptyList" class="note-wrapper">
    <span *ngFor="let note of notes">
      <div button class="note">
        <ion-button
          (click)="delete(note.id)"
          color="danger"
          fill="clear"
          class="note-delete-button"
          >x</ion-button
        >
        <ion-label class="note-text"> {{note.task}}</ion-label>
      </div>
    </span>
  </div>

  <ng-template #emptyList>
    <ion-content class="empty-feed-text">
      There aren't any notes yet!
    </ion-content>
  </ng-template>
</ion-content>
