<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="messages" class="messages-wrapper">
    <div *ngFor="let message of messages">
      <div
        [ngClass]="isUser(message.user_id) ? 'sender-message' : 'receiver-message'"
      >
        <span *ngIf="!isUser(message.user_id)" class="username-text"
          >{{username(message.user_id)}}</span
        >
        <div
          [ngClass]="isUser(message.user_id) ? 'sender-bubble' : 'receiver-bubble'"
        >
          {{message.content}}
        </div>
      </div>
    </div>
    <app-new-message class="new-message"></app-new-message>
  </div>
</ion-content>
