.messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 1em 0 0;
  flex-grow: 0;
}

.sender-message {
  float: right;
  margin-right: 0.5em;

  .username-text {
    font-size: small;
    padding-right: 10px;
  }
  .sender-bubble {
    background-color: #53d769;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 1em;
  }
}

.receiver-message {
  align-self: flex-start;
  text-align: left;
  display: inline-block;
  margin-left: 0.5em;

  .username-text {
    font-size: small;
    padding-left: 10px;
  }
  .receiver-bubble {
    background-color: var(--ion-color-primary);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 1em;
  }
}
