<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="messages">
    <div *ngFor="let message of messages" class="messages-wrapper">
      <div
        [ngClass]="isUser(message.user_id) ? 'sender-message' : 'receiver-message'"
      >
        <span *ngIf="users" class="username-text"
          >{{username(message.user_id)}}</span
        >
        <div
          [ngClass]="isUser(message.user_id) ? 'sender-bubble' : 'receiver-bubble'"
        >
          {{message.content}}
        </div>
      </div>
    </div>
  </div>
  <form
    [formGroup]="messageForm"
    (ngSubmit)="sendMessage()"
    class="message-form-wrapper"
  >
    <ion-input
      type="text"
      placeholder="Add a message?"
      formControlName="message"
      type="text"
      color="primary"
      class="ion-padding-start"
    ></ion-input>
    <ion-button type="submit" fill="solid" color="primary"> Submit </ion-button>
  </form>
</ion-content>
