<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>the chat is incoming!</p>
  <button (click)="getMessages()">get messages</button>
  <div *ngIf="messages">
    <div *ngFor="let message of messages">
      {{message.content}} {{message.id}}
    </div>
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <ion-input
      type="text"
      placeholder="Add a message?"
      formControlName="message"
      type="text"
      color="primary"
    ></ion-input>
    <ion-button type="submit" expand="block" fill="clear" shape="round">
      Submit
    </ion-button>
  </form>
</ion-content>
