<ion-tabs *ngIf="session">
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="tab4">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="users">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="glasses"></ion-icon>
      <ion-label>My Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="masters">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>The Masters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="chevron-down-outline" (click)="signOut()"></ion-icon>
      <ion-label>Sign Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-tabs *ngIf="!session">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="chevron-down-outline"></ion-icon>
      <ion-label>Sign In</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
