<ion-app>
  <ion-menu side="start" type="push" #sideMenu>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item routerLink="/tab1" (click)="sideMenu.close()"
        ><ion-label>Home</ion-label>></ion-item
      >
      <ion-item routerLink="/tab3" (click)="sideMenu.close()"
        ><ion-label>Chefs</ion-label>></ion-item
      >
      <ion-item routerLink="/tab2" (click)="sideMenu.close()"
        ><ion-label>Photos</ion-label>></ion-item
      >
    </ion-content>
  </ion-menu>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
