<ion-app>
  <ion-menu side="start" contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-title">Explore</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/users" routerDirection="forward">
            <ion-icon name="people-circle-outline"></ion-icon>
            <ion-label>Users</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab5" routerDirection="forward">
            <ion-icon name="glasses"></ion-icon>
            <ion-label>My Notes</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/masters" routerDirection="forward">
            <ion-icon name="megaphone-outline"></ion-icon>
            <ion-label>The Masters</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab4" routerDirection="forward">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Account</ion-label>
          </ion-item>
          <ion-item button (click)="signOut()">
            <ion-icon
              name="chevron-down-outline"
              (click)="signOut()"
            ></ion-icon>
            <ion-label>Sign Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
