<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jedi Masters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bgFile">
    <div *ngFor="let profile of profiles">
      <img
        src="{{profile.image}}"
        width="50px"
        height="50px"
        (click)="openProfile(profile)"
      />
      {{profile.name}}
    </div>
  </div>

  <ion-card class="bgFile"> </ion-card>
</ion-content>
