<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="bgFile">
    <div *ngFor="let profile of profiles">
      <img src="{{profile.picture.medium}}" width="50px" height="50px" />
      {{profile.name.first}} {{ profile.name.last}}
    </div>
  </div>

  <ion-card class="bgFile"> </ion-card>
</ion-content>
